*
!.gitignore

!alacritty/
!alacritty/*

!dunst/
!dunst/*

!hypr/
!hypr/*
!hypr/*/*

!nushell/
!nushell/*

!waybar/
!waybar/*

!rofi/
!rofi/*
!rofi/*/*
!rofi/*/*/*
!rofi/*/*/*/*
!rofi/*/*/*/*/*

!wofi/
!wofi/*
!wofi/*/*